<div class="main-block main-block-item">
  <div>
    <!-- Swiper -->
    <div class="swiper-container">
      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <a href="images/reserve-slide2.jpg" class="grid image-link">
            <img src="assets/images/reserve-slide2.jpg" style="width: 100%" class="img-fluid" alt="#">
          </a>
        </div>
        <div class="swiper-slide">
          <a href="images/reserve-slide1.jpg" class="grid image-link">
            <img src="images/reserve-slide1.jpg" class="img-fluid" alt="#">
          </a>
        </div>
        <div class="swiper-slide">
          <a href="images/reserve-slide3.jpg" class="grid image-link">
            <img src="images/reserve-slide3.jpg" class="img-fluid" alt="#">
          </a>
        </div>
        <div class="swiper-slide">
          <a href="images/reserve-slide1.jpg" class="grid image-link">
            <img src="images/reserve-slide1.jpg" class="img-fluid" alt="#">
          </a>
        </div>
        <div class="swiper-slide">
          <a href="images/reserve-slide2.jpg" class="grid image-link">
            <img src="images/reserve-slide2.jpg" class="img-fluid" alt="#">
          </a>
        </div>
        <div class="swiper-slide">
          <a href="images/reserve-slide3.jpg" class="grid image-link">
            <img src="images/reserve-slide3.jpg" class="img-fluid" alt="#">
          </a>
        </div>
      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination swiper-pagination-white"></div>
      <!-- Add Arrows -->
      <div class="swiper-button-next swiper-button-white"></div>
      <div class="swiper-button-prev swiper-button-white"></div>
    </div>
  </div>
  <!--//END BOOKING -->
  <!--============================= RESERVE A SEAT =============================-->
  <!--<section class="reserve-block">-->
    <!--<div class="container">-->
      <!--<div class="row">-->
        <!--<div class="col-md-6">-->
          <!--<h5>Tasty Hand-Pulled Noodles</h5>-->
          <!--<p><span>$$$</span>$$</p>-->
          <!--<p class="reserve-description">Innovative cooking, paired with fine wines in a modern setting.</p>-->
        <!--</div>-->
        <!--<div class="col-md-6">-->
          <!--<div class="reserve-seat-block">-->
            <!--<div class="reserve-rating">-->
              <!--<span>9.5</span>-->
            <!--</div>-->
            <!--<div class="review-btn">-->
              <!--<a href="#" class="btn btn-outline-danger">WRITE A REVIEW</a>-->
              <!--<span>34 reviews</span>-->
            <!--</div>-->
            <!--<div class="reserve-btn">-->
              <!--<div class="featured-btn-wrap">-->
                <!--<a href="#" class="btn btn-danger">RESERVE A SEAT</a>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</section>-->
  <!--//END RESERVE A SEAT -->
  <!--============================= BOOKING DETAILS =============================-->
  <section class="light-bg booking-details_wrap">
    <div class="container">
      <div class="row">
        <div class="col-md-8 responsive-wrap">
          <div class="booking-checkbox_wrap">
            <div class="booking-checkbox">
              <p>Tasty Hand-Pulled Noodles is a 1950s style diner located in Madison, Wisconsin. Opened in 1946 by Mickey Weidman, and located just across the street from Camp Randall Stadium, it has become a popular game day tradition amongst
                many Badger fans. The diner is well known for its breakfast selections, especially the Scrambler, which is a large mound of potatoes, eggs, cheese, gravy, and a patrons’ choice of other toppings.</p>
              <p>Mickies has also been featured on “Todd’s Taste of the Town” during one of ESPN’s college football broadcasts. We are one of the best Chinese restaurants in the New York, New York area. We have been recognized for our outstanding
                Chinese & Asian cuisine, excellent Chinese menu, and great restaurant specials. We are one of the best Chinese restaurants in the New York, New York area. We have been recognized for our outstanding Chinese & Asian cuisine,
                excellent Chinese menu, and great restaurant specials.</p>
              <hr>
            </div>
            <div class="row">
              <div class="col-md-4">
                <label class="custom-checkbox">
                  <span class="ti-check-box"></span>
                  <span class="custom-control-description">Bike Parking</span>
                </label> </div>
              <div class="col-md-4">
                <label class="custom-checkbox">
                  <span class="ti-check-box"></span>
                  <span class="custom-control-description">Wireless Internet  </span>
                </label>
              </div>
              <div class="col-md-4">
                <label class="custom-checkbox">
                  <span class="ti-check-box"></span>
                  <span class="custom-control-description">Smoking Allowed  </span>
                </label> </div>
              <div class="col-md-4">
                <label class="custom-checkbox">
                  <span class="ti-check-box"></span>
                  <span class="custom-control-description">Street Parking</span>
                </label>
              </div>
              <div class="col-md-4">
                <label class="custom-checkbox">
                  <span class="ti-check-box"></span>
                  <span class="custom-control-description">Special</span>
                </label> </div>
              <div class="col-md-4">
                <label class="custom-checkbox">
                  <span class="ti-check-box"></span>
                  <span class="custom-control-description">Accepts Credit cards</span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 responsive-wrap">
          <div class="contact-info">
            <img src="assets/images/map.jpg" class="img-fluid" alt="#">
            <div class="address">
              <span class="icon-location-pin"></span>
              <p> Doyers St<br> New York, NY 10013<br> b/t Division St & St James Pl <br> Chinatown, Civic Center</p>
            </div>
            <div class="address">
              <span class="icon-screen-smartphone"></span>
              <p> +44 20 7336 8898</p>
            </div>
            <div class="address">
              <span class="icon-link"></span>
              <p>https://burgerandlobster.com</p>
            </div>
            <div class="address">
              <span class="icon-clock"></span>
              <p>Mon - Sun 09:30 am - 05:30 pm <br>
                <span class="open-now">OPEN NOW</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

