<section class="main-block light-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="styled-heading">
                    <h3>Featured Places</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 featured-responsive">
                <div class="featured-place-wrap">
                    <a routerLink="/list/restaurants/ricardo">
                        <img src="assets/images/featured1.jpg" class="img-fluid" alt="#">
                        <span class="featured-rating-orange">6.5</span>
                        <div class="featured-title-box">
                            <h6>Ricardo</h6>
                            <p>FastFood </p> <span>• </span>
                            <ul>
                                <li><span class="icon-location-pin"></span>
                                    <p>Royal Road Beau Bassin</p>
                                </li>
                                <li><span class="icon-screen-smartphone"></span>
                                    <p>+59125334</p>
                                </li>
                                <li><span class="icon-link"></span>
                                    <p>https://dummysite.com</p>
                                </li>

                            </ul>
                            <div class="bottom-icons">
                                <div class="open-now">10am - 11pm</div>
                                <span class="ti-heart"></span>
                                <span class="ti-bookmark"></span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 featured-responsive">
                <div class="featured-place-wrap">
                    <a routerLink="/list/restaurants/comlone">
                        <img src="assets/images/featured2.jpg" class="img-fluid" alt="#">
                        <span class="featured-rating-green">9.5</span>
                        <div class="featured-title-box">
                            <h6>Comlone</h6>
                            <p>Restaurant </p> <span>• </span>
                            <ul>
                                <li><span class="icon-location-pin"></span>
                                    <p>Avenue BLA, blabla</p>
                                </li>
                                <li><span class="icon-screen-smartphone"></span>
                                    <p>+44 20 7336 8898</p>
                                </li>
                                <li><span class="icon-link"></span>
                                    <p>https://comlone.com</p>
                                </li>

                            </ul>
                            <div class="bottom-icons">
                                <div class="open-now">11am - pm</div>
                                <span class="ti-heart"></span>
                                <span class="ti-bookmark"></span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 featured-responsive">
                <div class="featured-place-wrap">
                    <a routerLink="/list/restaurants/nandos">
                        <img src="assets/images/featured3.jpg" class="img-fluid" alt="#">
                        <span class="featured-rating">3.2</span>
                        <div class="featured-title-box">
                            <h6>Nandos</h6>
                            <p>Restaurant </p> <span>• </span>
                            <ul>
                                <li><span class="icon-location-pin"></span>
                                    <p>Royal Road Phoenix</p>
                                </li>
                                <li><span class="icon-screen-smartphone"></span>
                                    <p>+44 20 7336 8898</p>
                                </li>
                                <li><span class="icon-link"></span>
                                    <p>https://nandos.com</p>
                                </li>

                            </ul>
                            <div class="bottom-icons">
                                <div class="open-now">OPEN NOW</div>
                                <span class="ti-heart"></span>
                                <span class="ti-bookmark"></span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="featured-btn-wrap">
                    <a href="#" class="btn btn-danger">VIEW ALL</a>
                </div>
            </div>
        </div>
    </div>
</section>
